include *.txt *.ini *.cfg *.rst
recursive-include texture_wrapper *.ico *.png *.css *.gif *.jpg *.pt *.txt *.mak *.mako *.js *.html *.xml *.jinja2 *.tif *.pdf *.xml *.mako *.map *.js *.json *.eot *.svg *.ttf *.woff *.woff2 *.otf